In [1]:
import pandas as pd #apelidando e importando biblioteca pandas de pd

In [9]:
dados = pd.read_excel("historico_campeao.xlsx") #Aqui estamos colocando na variável dados os nossos dados (tabela do excel)

In [10]:
dados.head()

     Campeão   Ano      Estado
0      Sport  1968  Pernambuco
1      Ceará  1969       Ceará
2      Sport  1970  Pernambuco
3  Itabaiana  1971     Sergipe
4    Vitória  1976       Bahia

In [11]:
dados.tail()

      Campeão   Ano Estado
20  Fortaleza  2019  Ceará
21      Ceará  2020  Ceará
22      Bahia  2021  Bahia
23  Fortaleza  2022  Ceará
24      Ceará  2023  Ceará

In [12]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Campeão  25 non-null     object
 1   Ano      25 non-null     int64
 2   Estado   25 non-null     object
dtypes: int64(1), object(2)
memory usage: 732.0+ bytes

In [14]:
dados.describe()

               Ano
count    25.000000
mean   2002.240000
std      18.274025
min    1968.000000
25%    1997.000000
50%    2003.000000
75%    2017.000000
max    2023.000000

In [15]:
dados.estado

AttributeError: 'DataFrame' object has no attribute 'estado'

In [16]:
dados.Estado

0              Pernambuco
1                   Ceará
2              Pernambuco
3                 Sergipe
4                   Bahia
5              Pernambuco
6                   Bahia
7     Rio Grande do Norte
8                   Bahia
9              Pernambuco
10                  Bahia
11                  Bahia
12                  Bahia
13                  Bahia
14                Paraíba
15             Pernambuco
16                  Ceará
17             Pernambuco
18                  Bahia
19               Maranhão
20                  Ceará
21                  Ceará
22                  Bahia
23                  Ceará
24                  Ceará
Name: Estado, dtype: object